body {
  background-color: #F1F1F1;
}
#ett {
  background-image: url("img/worldwithogre.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
#tva {
  background-image: url("img/dark_valley.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
#tre {
  background-image: url("img/meadow.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
#fyra {
  background-image: url("img/lake.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
#fem {
  background-image: url("img/explosion.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
  margin-left: 10%;
  margin-right: 10%;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  transform: rotate3d(1);
}
.right {
  float: right;
  width: 45%;
  padding: 15px;
  background-color: #F1F1F1;
  border-radius: 16px;
  margin-top: 16px;
  position: relative;
}
.right:hover {
  transform: rotate(360deg);
  transition: transform 4s ease;
}
.left {
  float: left;
  width: 45%;
  padding: 15px;
  background-color: #F1F1F1;
  border-radius: 16px;
  position: relative;
  animation-name: loop;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.other {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  color: black;
}
nav a:hover {
  color: #470cd1;
}
nav a:active {
  color: grey;
}
img:hover {
  transform: rotate(180deg);
}
@keyframes loop {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 300px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
